<?xml version="1.0" encoding="utf-8"?>
<!-- avoid using largeHeap -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dealacceleration" >

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.SPLASH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_forgot_passowrd"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.FORGOTPASSWORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SIGNUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeConsumerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeBusinessActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home_business"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.BUSINESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SocialMediaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_social_media"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MYACCOUNTSOCIALMEDIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeProfileDetails"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home_profile_details"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.HOMEPROFILEDETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductsAndServices"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_products_and_services"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.PRODUCTSANDSERVICES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusinessMyAccountEditProfile"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_business_my_account_edit_profile"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.BUSINESSMYACCOUNTEDITPROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsumerMyAccountEditProfile"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_consumer_my_account_edit_profile"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.CONSUMERMYACCOUNTEDITPROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContectUs"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.CONTACTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intermediate"
            android:label="@string/title_activity_intermediate"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.INTERMEDIATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReplyEmail"
            android:label="@string/title_activity_reply_email"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.REPLYEMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoriteProfile"
            android:label="@string/title_activity_favourite_profile"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.FAVORITEPROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
